body {
  font-family: "Oxygen", sans-serif;
}

h2 {
  text-align: center;
  color: #016fc5;
  padding: 10px;
}

.today {
  margin: 0px 3px 0;
}

.todayDetails {
  opacity: 0.7;
}

.dayOfWeek {
  text-align: center;
  font-size: 16px;
  color: #016fc5;
  margin-bottom: 5px;
}
.highTemperature {
  text-align: center;
  color: 000;
  opacity: 0.7;
  padding: 0;
  font-size: 16px;
}
.lowTemperature {
  text-align: center;
  font-size: 14px;
  color: 000;
  opacity: 0.5;
  padding: 0;
}
.weatherDescription {
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
  text-transform: capitalize;
}
.day {
  border: 2px solid rgba(32, 124, 202, 0.5);
  border-radius: 6px;
  margin: 3px;
  margin-top: 0;
}

.active {
  cursor: default;
  text-decoration: none;
}

#current-time {
  font-size: 20px;
  margin: 0px;
}

#current-temp {
  font-size: 48px;
  font-weight: 400;
}
#icon {
  display: block;
  text-align: center;
  position: relative;
  margin-left: 15px;
}

#description {
  opacity: 0.7;
}

.units {
  position: relative;
  margin-top: 20px;
}

#current-button {
  display: block;
  position: relative;
  top: -52px;
  left: 260px;
}

.boxWrap {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
}

.codedBy {
  text-align: center;
}

.btn {
  padding: 5px;
}
